<div *ngIf="imagenes && imagenes.length > 0"class="carousel-container">
    <img *ngFor="let imagen of imagenes; let i=index" 
    [src]="imagen.imagenSrc" [alt]="imagen.imagenAlt"
    [ngClass]="{'imagen-active': selectedIndex === i}"
    class="fade">


    <div *ngIf="indicators" class="carusel-dot-container"> 
        <span *ngFor="let dot of imagenes; let i=index"
        class="dot"
        [ngClass]="{'active':selectedIndex===i}"
        (click)="selectedImagen(i)">
        
        </span>
    </div>

    <button *ngIf="controls" class="btn-carrusel btn-prev">
        <i class="fas fa-arrow-circle-left icon-carousel icon-prev"
        (click)="onPrevClick()"></i>
    </button>
    <button *ngIf="controls" class="btn-carrusel btn-next">
        <i class="fas fa-arrow-circle-right icon-carousel icon-next"
        (click)="onNextClick()"></i>
    </button>

</div>
